# syncthing
.stfolder/

# elpa
.cache
elpa/

auto-save-list/

eshell/
transient/

# lsp
.lsp-session-v1
lsp-cache/

cnfonts/
recentf
tramp
bookmarks

lisp/auto-save.el
url
tutorial
eln-cache

# dap
.dap-breakpoints

# project
projects
projectile.cache
.projectile-cache.eld
projectile-bookmarks.eld

# session
easysession/
.session
session.*
history

# EAF
eaf/

# customize
custom.*.el