[submodule "site-lisp/awesome-tray"]
	path = site-lisp/awesome-tray
	url = git@github.com:manateelazycat/awesome-tray.git
[submodule "site-lisp/lsp-bridge"]
	path = site-lisp/lsp-bridge
	url = git@github.com:manateelazycat/lsp-bridge.git
[submodule "site-lisp/emacs-application-framework"]
	path = site-lisp/emacs-application-framework
	url = git@github.com:emacs-eaf/emacs-application-framework.git
[submodule "site-lisp/auto-save"]
	path = site-lisp/auto-save
	url = git@github.com:manateelazycat/auto-save.git
