auto-save-list/
custom.el
custom.mac.el
elpa/
eshell/
transient/
.session
.lsp-session-v1
projectile-bookmarks.eld
.cache
cnfonts/
recentf
tramp
lsp-cache/
bookmarks
projectile.cache
lisp/auto-save.el
url
tutorial
eln-cache
projects
.dap-breakpoints